<h1 mat-dialog-title >Edit information</h1>
<hr>
  <form [formGroup] = "EditAuser" (ngSubmit) = "EditAuser.valid  && editUserSubmit()" novalidate>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Name</mat-label>
      <input  class="text_color"
              type="text"
              matInput
              formControlName="name"
              value="{{data.name}}"

              />
              <mat-error>Atleast 3 charaters</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Email</mat-label>
      <input  class="text_color"
              matInput
              type="email"
              formControlName = "email"
              value="{{data.email}}"
              />
              <mat-error>Email invalid</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width"  >
      <mat-label>Select Role</mat-label>
      <mat-select formControlName = "select_role" [(value)]="data.role" class="text_color">
        <mat-option *ngFor="let role of roles" [value]="role.role" class="text_color">
          {{role.role}}
        </mat-option>
      </mat-select>
      <mat-error >Please select role</mat-error>
    </mat-form-field>


    <div class="row">
      <div class="col-md-6">
        <button type="button" (click)="onNoClick()" class="btn btn-secondary btn-sign" cdkFocusInitial>Cancel</button>
      </div>
      <div class="col-md-6">
        <button type="submit"  class="btn btn-success btn-sign" >Edit Now</button>
      </div>
    </div>
  </form>



