.center{
  text-align: center;
}

.example-full-width {
  width: 100%;
}
.btn-sign{
  width: 100%;
}
/* mat-input focused color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #5cb85c!important;
}
/* mat-input error outline color */
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.6!important;
}
/* mat-input carent color */
::ng-deep .mat-input-element {
  caret-color:  #5cb85c!important;
}
/* mat-label normal state style */
::ng-deep .mat-form-field-label {
    color:  #5cb85c!important;
}
.btn-sign{
  width: 100%;
}
.mat-dialog-title{
  opacity: 0.8;
}
.text_color{
  opacity: 0.8;
}
hr{
  border-top: 2px solid#5cb85c;
}
